{% for block in section.blocks %}
  <div class="accordion-container">
    <button class="accordion">
      <h2>
        <b>{{ block.settings.heading_text }}</b>
      </h2>
      <div class="accordion-caret">{% render 'icon-caret' %}</div>
    </button>
    <div class="panel">{{ block.settings.content_text }}</div>
  </div>
{% endfor %}

{% schema %}

{
  "name": "Accordion",
  "blocks": [
    {
      "name": "Section",
      "type": "accordion_section",
      "settings": [
        {
          "type": "text",
          "id": "heading_text",
          "label": "Heading"
        }, {
          "type": "text",
          "id": "content_text",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Accordion"
    }
  ]
}

{% endschema %}
