<h1 class="bitches">{{ section.settings.my_id }}</h1>

<style>
  .bitches {
    color: {{ section.settings.color }};
  }
</style>

{% schema %}

{
  "name": "bitch",
  "settings": [
    {
      "type": "text",
      "id": "my_id",
      "label": "My setting label",
      "default": "Enter text here"
    }, {
      "type": "color",
      "id": "color",
      "label": "THIS IS THE COLOR BITCH"
    }
  ]
}

{% endschema %}
