<h1 class="bitches">{{ section.settings.my_id }}</h1>
{% for block in section.blocks %}
  <div class="accordion">{{ block.settings.heading_text }}</div>
  <div class="accordion">{{ block.settings.content_text }}</div>
{% endfor %}

<style>
  .bitches {
    color: {{ section.settings.color }};
  }
</style>

{% schema %}

{
  "name": "bitch",
  "settings": [
    {
      "type": "text",
      "id": "my_id",
      "label": "My setting label",
      "default": "Enter text here"
    }, {
      "type": "color",
      "id": "color",
      "label": "THIS IS THE COLOR BITCH"
    }
  ],
  "blocks": [
    {
      "name": "Accordion",
      "type": "accordion",
      "settings": [
        {
          "type": "text",
          "id": "heading_text",
          "label": "Heading"
        }, {
          "type": "text",
          "id": "content_text",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BITCH"
    }
  ]
}

{% endschema %}
